<!doctype html>
<html ng-app="SimpleRESTWebsite">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Simple RESTful Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- <link rel="stylesheet" href="assets/css/normalize.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/app.css"> -->
    <!-- <link rel="stylesheet" href="app/assets/css/datetimepicker.css"> -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="./app/assets/css/dataTable.css"> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <!-- <script src="app/assets/js/moment-timezone.js"></script> -->
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
    <script src="https://rawgit.com/weblogng/weblogng-client-javascript/master/release/logger.js"></script>
    <script src="https://rawgit.com/weblogng/angular-weblogng/master/dist/angular-weblogng.js"></script>
    <!-- <script src="./app/assets/js/dataTable.min.js"></script> -->

    <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
</head>

<body ng-controller="MainCtrl as main" ng-cloak>
    <!-- <nav class="navbar navbar-default">
        <button ng-if="main.currentUser" class="btn btn-default navbar-btn" ng-click="main.logout()">Logout
            <strong>{{main.currentUser.email}}</strong>
        </button>
    </nav> -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">{{(main.navType == 2)?'Carweek Dealership':'Dealer Expo'}}</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
                </button>
            </div>
            <ul class="nav navbar-nav collapse navbar-collapse"  id="myNavbar">
                <li class="{{ (activeItem == $index )?'active' : '' }}" ng-repeat="item in main.navBar" ng-click="main.navClicked($index)"><a href="{{item.href}}"> {{ item.title}}</a></li>
            <!-- <li><a href="#/dashboard">Feed Dashboard</a></li>
            <li class="active"><a href="#/inbound/dashboard">Inbound</a></li>
            <li><a href="#/outbound/dashboard">Outbound</a></li>
            <li><a href="#/vehicle">Vehicle</a></li> -->
            <button ng-if="main.currentUser" class="btn btn-default navbar-btn" ng-click="main.logout()">Logout
                    <strong>{{main.currentUser.email}}</strong>
                </button>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="">
            <div ui-view></div>
        </div>
    </div>

    <script src="app/appNew.js"></script>
    
    <script type="text/javascript" src="app/assets/js/datetimepicker.js"></script>
    <script type="text/javascript" src="app/assets/js/datetimepicker.templates.js"></script>
    
    <!-- <script src="app/src/app.js"></script>

    <script src="app/src/routes/index.js"></script>

    <script src="app/src/services/dashboard/user.srv.js"></script>
    <script src="app/src/services/dashboard/login.srv.js"></script>
    <script src="app/src/services/inbound/feedprovider.srv.js"></script>
    <script src="app/src/services/dashboard/vehicle.srv.js"></script>
    <script src="app/src/services/dashboard/task.srv.js"></script>
    <script src="app/src/services/inbound/schedule.srv.js"></script>
    <script src="app/src/services/inbound/provider.srv.js"></script>
    <script src="app/src/services/dashboard/fileupload.srv.js"></script>
    <script src="app/src/directives/file.drct.js"></script>
    <script src="app/src/controllers/inbound/feedprovider.ctrl.js"></script>
    <script src="app/src/controllers/dashboard/login.ctrl.js"></script>
    <script src="app/src/controllers/main.ctrl.js"></script>
    <script src="app/src/controllers/dashboard/appdashboard.ctrl.js"></script>
    <script src="app/src/controllers/dashboard/task.ctrl.js"></script>
    <script src="app/src/controllers/inbound/schedule.ctrl.js"></script>
    <script src="app/src/controllers/inbound/provider.ctrl.js"></script>
    <script src="app/src/controllers/dashboard/dashboard.ctrl.js"></script> -->



</body>

</html>