
<div class="container">
  <h3 class="page-heading">Dashboard</h3>

  <div class="container">
    <h5 class="bg-primary dashboard-table-heading">Recent Reporting Tasks</h5>
    <div class="table-wrapper container-fluid">
      <table class="inbound-outbound-table table">
        <thead>
          <tr>
            <th>Task ID</th>
            <th>Type</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>200 (success)</th>
            <th>404 (not found)</th>
            <th>3xx (redirect)</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">1</a></td>
            <td><a href="#">shashank_menu_reports</a></td>
            <td>2018-08-12 13:10:00</td>
            <td>2018-08-12 14:10:00</td>
            <td>100</td>
            <td>40</td>
            <td>2</td>
            <td>9</td>
          </tr>
          <tr>
            <td><a href="#">2</a></td>
            <td><a href="#">Nayan_menu_reports</a></td>
            <td>2018-08-11 08:10:00</td>
            <td>2018-08-11 10:10:00</td>
            <td>70</td>
            <td>10</td>
            <td>1</td>
            <td>0</td>
          </tr>
          <tr>
            <td><a href="#">3</a></td>
            <td><a href="#">Ajay_menu_reports</a></td>
            <td>2018-08-12 01:10:00</td>
            <td>2018-08-12 01:15:00</td>
            <td>50</td>
            <td>10</td>
            <td>2</td>
            <td>8</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


<style>
  .dashboard-table-heading {
    padding: 10px;
    margin-bottom: 0;
  }
.table-wrapper {
  border:1px solid #428bca;
}

.inbound-outbound-table {
  margin-top: 20px;
}

table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border:2px solid #ddd;
  }

  .page-heading {
    border-bottom: 2px solid #ddd;
    margin-left: 20px;
    padding-bottom: 10px;
  }
</style>
