<div class="container">
    <div class="row">
        <ul class="nav nav-pills">
                <li ><a href="#/inbound/dashboard">Dashboard</a></li>
                <li  ><a href="#/inbound/provider/feed/list">Provider</a></li>
                <li><a href="#/inbound/provider/schedule/list">Schedule</a></li>
                <li><a >Errors-ToDo</a></li>
                <li class="active"><a href="#/inbound/provider/feed/add">Add New Provider</a></li>
              </ul>
</div>
  <form  ng-submit="provider.submitProviderForm()">
    <div class="">
      <h3>Add A New Inbound Feed Provider</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="">
              <label for="">Provider Info</label>
              <hr>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Provider Name</label>
              <div class="col-sm-10">
                <input required type="text" ng-model="provider.form.providerName" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Provider Status</label>
              <div class="col-sm-10">
                <select required class="form-control" ng-model="provider.form.providerStatus">
                    <option value="">Select A Status</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Host</label>
              <div  class="col-sm-10">
                <input required ng-model="provider.form.ftpHost" value="127.0.0.1" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Username</label>
              <div class="col-sm-10">
                <input required ng-model="provider.form.ftpUsername" value="Ajayssj" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Password</label>
              <div class="col-sm-10">
                <input required ng-model="provider.form.ftpPassword" value="ajayajay" type="password" class="form-control">
              </div>
            </div>
            <div ng-if="provider.isFTPTested" class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Directory Path</label>
                <div class="col-sm-10">
                  <select required class="form-control" ng-model="provider.form.directory"> 
                    <option value="{{directory.name}}" ng-if="directory.type == 'd' &&  (directory.name != '.' && directory.name != '..')"  ng-repeat="directory in provider.directories">{{ directory.name }}</option>
                  </select>
                </div>
            </div>
            <div ng-if="provider.isFTPTested" class="form-group row">
                <label for="" class="col-sm-2 col-form-label">File Name</label>
                <div class="col-sm-10">
                    <select required class="form-control" ng-model="provider.form.filename"> 
                        <option  value="{{directory.name}}" ng-if="directory.type == '-'"  ng-repeat="directory in provider.directories">{{ directory.name }}</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div ng-if="provider.alert" class="alert alert-{{ provider.res.class }}" >
                    <!-- <a class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                    {{ provider.res.msg }}
                </div>
                <label for="" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input ng-click="provider.testFTPConnection()" type="button" class="btn btn-success" value="{{(!provider.testingFTP)?'Test Connection':'Testing ...'}}" class="form-control">
                 
                </div>
            </div>  
          </div>
          <div class="col-sm-6">
            <div class="">

              <label for="">File Parser Setting</label>
              <hr>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Column Delimiter</label>
              <div class="col-sm-10">
                <input ng-model="provider.form.columnDelimiter" type="text" class="form-control" value=",">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Exclosure Character</label>
              <div class="col-sm-10">
                <input ng-model="provider.form.exclosureCharacter" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Escape Character</label>
              <div class="col-sm-10">
                <input ng-model="provider.form.escapeCharacter" type="text" class="form-control" value="\">
              </div>
            </div>


            <div class="form-group row">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="">
              <label for="">File Indentifier Setting</label>
              <hr>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Header Included</label>
              <div class="col-sm-10">
                <select ng-model="provider.form.headerIncluded" class=" form-control custom-select my-1 mr-sm-2">
                  <option value="">Select An Option</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Footer Included</label>
              <div class="col-sm-10">
                <select ng-model="provider.form.footerIncluded" class=" form-control custom-select my-1 mr-sm-2">
                  <option value="">Select An Option</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Indentifier Position</label>
              <div class="col-sm-10">
                <select ng-model="provider.form.indentifierPosition" class=" form-control custom-select my-1 mr-sm-2">
                  <option value="">Select An Option</option>
                  <option value="1">In File</option>
                  <option value="0">In File Name</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-sm-6">
            <div class="">

              <label for="">Image & Options Parser Setting</label>
              <hr>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Image Delimiter</label>
              <div class="col-sm-10">
                <input ng-model="provider.form.imageDelimiter" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Options Character</label>
              <div class="col-sm-10">
                <input ng-model="provider.form.optionsCharacter" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Escape Character</label>
              <div class="col-sm-10">
                <input ng-model="provider.form.escapeCharacter" type="password" class="form-control">
              </div>
            </div>


            <div class="form-group row">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="">
              <label for="">Special Parsing Setting</label>
              <hr>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Pull Request URL</label>
              <div class="col-sm-10">
                <input ng-model="provider.form.pullRequestURL" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Pull Request Type</label>
              <div class="col-sm-10">
                <select ng-model="provider.form.pullRequestType" class=" form-control custom-select my-1 mr-sm-2">
                  <option value="">Select A Type</option>
                  <option value="web">Web</option>
                  <option value="ftp">FTP</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Preprocess Request</label>
              <div class="col-sm-10">
                <input ng-model="provider.form.preprecessRequest" type="text" class="form-control">
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="">
      <h3>Inbound File Header Mapping</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="">File Header (Dicrectory From File). Paste it here or create it here </label>
          <input ng-model="provider.form.fileForHeader" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4" style="padding: 23px;">
        <!-- <p>{{ provider.headersFetched }}</p> -->
        <div class="form-group">
            <button type="button" ng-attr-disabled="!provider.headersFetched" class="btn btn-{{ provider.headersFetched && ('primary') || 'success'}}" ng-click="provider.getProviderHeaders()">{{ provider.headersFetched && ('Click To Fetch File For Header Mapping') || 'Fetching Headers .....'}}</button>
          </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div>
              <label for="">Header Mapping</label>
              <hr>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Carweek Header</th>
                    <th>Provider Header</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="orignalHeader in provider.orignalHeaders">
                    <td>{{ orignalHeader }}</td>
                    <td>
                      <select class="form-control" ng-model="provider.mapppedHeader[orignalHeader]">
                        <option value="" ng-if="!provider.headersFetched">Fetching Headers..</option>
                        <option value="{{ providerHeader}}" ng-repeat="providerHeader in provider.providerHeaders track by $index">{{ providerHeader }}</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
          <div class="col-md-6">
            <div class="">
              <label for="">Flag & Condition Mapping</label>
              <hr>
            </div>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Carweek Value</th>
                  <th>Feed Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Condition</td>
                  <td>New</td>
                  <td>
                    <input name="flag_condition_map[condition][new]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Condition</td>
                  <td>Used</td>
                  <td>
                    <input name="flag_condition_map[condition][used]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Condition</td>
                  <td>Certified</td>
                  <td>
                    <input name="flag_condition_map[condition][certified]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td>Auto Check</td>
                  <td>
                    <input name="flag_condition_map[flag][autocheck]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td>Carfax</td>
                  <td>
                    <input name="flag_condition_map[flag][carfax]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td>Carfax 1 Owner</td>
                  <td>
                    <input name="flag_condition_map[flag][carfax_1owner]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td>Certified</td>
                  <td>
                    <input name="flag_condition_map[flag][certified]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td>Dealer Warranty</td>
                  <td>
                    <input name="flag_condition_map[flag][dealer_warranty]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td>Extended Warranty</td>
                  <td>
                    <input name="flag_condition_map[flag][extended_warranty]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td>Factory Warranty</td>
                  <td>
                    <input name="flag_condition_map[flag][factory_warranty]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Flag</td>
                  <td>Green Vehicle</td>
                  <td>
                    <input name="flag_condition_map[flag][green_vehicle]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Trans</td>
                  <td>Automatic</td>
                  <td>
                    <input name="flag_condition_map[trans][automatic]" value="" />
                  </td>
                </tr>
                <tr>
                  <td>Trans</td>
                  <td>Manual</td>
                  <td>
                    <input name="flag_condition_map[trans][manual]" value="" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-success" type="submit">Add New Provider</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>