<div class="container" ng-init="feedprovider.getProvidersData()">
        <div class="row">
                <ul class="nav nav-pills">
                        <li ><a href="#/inbound/dashboard">Dashboard</a></li>
                        <li><a href="#/inbound/provider/feed/list">Provider</a></li>
                        <li class="active"><a href="#/inbound/provider/schedule/list">Schedule</a></li>
                        <li><a href="#">Errors-ToDo</a></li>
                      </ul>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6">
                    <h4>
                        Inbound Feed Providers
                    </h4>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <a href="#/inbound/provider/schedule" class="btn btn-primary">Schedule A Feed</a>
                </div>
                <hr>
              
                <!-- <p>{{ feedprovider.providers}}</p> -->
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Provider</th>
                            <th>Status</th>
                            <th>State</th>
                            <th>Interval</th>
                            <th>Last Run</th>
                            <th>Next Run</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="provider.providersData.length" ng-repeat="provider in feedprovider.providers">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ provider.providerName }}</td>
                            <td>{{ (provider.providersData[0].isActive)?'Active':'Inactive'}}</td>
                            <td>{{ (provider.providersData[0].isStarted)?'Running':'Not Running'}}</td>
                            <td>{{  provider.providersData[0].interval   }}</td>
                            <td>{{  (provider.lastRun)? feedprovider.utcToLocalTime(provider.lastRun):'N/A' }}</td>
                            <td>{{ feedprovider.utcToLocalTime(provider.nextRun); }}</td>
                            <!-- <td>{{ provider.lastRun | date:'yyyy-MM-dd h:m:s ' }}</td>
                            <td>{{ provider.lastRun | date:'yyyy-MM-dd h:m:s ' }}</td> -->
                            <td><a href="">View</a> | <a href="">History</a> | <a href="">Run</a> | <a href="">Delete</a></td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- 

    db.histories.aggregate(

	// Pipeline
	[
		// Stage 1
		{
			$match: {$and: [{"lastRun" :{"$gte": new Date('1534703433450')}},{"lastRun" :{"$lte": new Date()}}]}
		},

		// Stage 2
		{
			$lookup: {
			    "from" : "providers",
			    "localField" : "providerId",
			    "foreignField" : "_id",
			    "as" : "providerData"
			}
		},

		// Stage 3
		{
			$unwind: {
			    path : "$providerData",
			   
			}
		},

		// Stage 4
		{
			$facet: {
			    facetName1: [ { $project: { 'providerData': 1} }],
			    facetName2: [ {$group:     { 
			        _id: null, 
			        total: { 
			            $sum: "$added" 
			        }
			    } }],
			    // add more facets
			}
		},
	]


); -->
