<div class="container">
        <div class="row">
                <ul class="nav nav-pills">
                        <li ><a href="#/inbound/dashboard">Dashboard</a></li>
                        <li  class="active"><a href="#/inbound/provider/feed/list">Provider</a></li>
                        <li><a href="#/inbound/provider/schedule/list">Schedule</a></li>
                        <li><a href="#">Errors-ToDo</a></li>
                      </ul>
        </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Provider ID</th>
                        
                        <th>Username</th>
                        <th>Status</th>
                        <th>Directory</th>
                        <th>Last Run</th>
                        <th>Next Run</th>
                        <th>Name</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>