<div class="container">
  <div class="row">
    <ul class="nav nav-pills">
      <li>
        <a href="#/outbound/dashboard">Dashboard</a>
      </li>
      <li class="active">
        <a href="#/outbound/provider/feed/list">Provider</a>
      </li>
      <li>
        <a href="#/outbound/provider/schedule/list">Schedule</a>
      </li>
    </ul>
  </div>
  <form ng-submit="provider.submitOutboundProviderForm()">
    <div class="">
      <h3>Add A New Outbound Feed Provider</h3> 
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="">
              <label for="">Provider Info</label> 
              <hr>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Provider Name</label>
              <div class="col-sm-10">
                <input required type="text" ng-model="provider.form.providerName" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Provider Status</label>
              <div class="col-sm-10">
                <select required class="form-control" ng-model="provider.form.providerStatus">
                  <option value="">Select A Status</option>
                  <option value="true">Active</option>
                  <option value="false">Inactive</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div ng-if="provider.alert" class="alert alert-{{ provider.res.class }}">
                <!-- <a class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                {{ provider.res.msg }}
              </div>
              <label for="" class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <input ng-click="provider.testFTPConnection()" type="button" class="btn btn-success" value="{{(!provider.testingFTP)?'Test FTP Connection':'Testing ...'}}"
                  class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="">

              <label for="">FTP Info</label>
              <hr>
            </div>
            <div  class="alert alert-warning">
              <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
              FTP server must have create and delete files permissions.
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP URL</label>
              <div class="col-sm-10">
                <input required ng-model="provider.form.ftpHost" value="ajayajay" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Username</label>
              <div class="col-sm-10">
                <input required ng-model="provider.form.ftpUsername" value="Ajayssj" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Password</label>
              <div class="col-sm-10">
                <input required ng-model="provider.form.ftpPassword" value="ajayajay" type="password" class="form-control">
              </div>
            </div>
            <div ng-if="provider.isFTPTested" class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Directory</label>
              <div class="col-sm-10">
                <select required class="form-control" ng-model="provider.form.directory">
                  <option value="{{directory.name}}" ng-if="directory.type == 'd' &&  (directory.name != '.' && directory.name != '..')" ng-repeat="directory in provider.directories">{{ directory.name }}</option>
                </select>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Directory</label>
              <div class="col-sm-10">
                  <input required ng-model="provider.form.directory" value="ajayajay" type="text" class="form-control">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Alt Directory</label>
              <div class="col-sm-10">
                <input value="" type="text" class="form-control">
              </div>
            </div> -->
            <div ng-if="provider.isFTPTested" class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Alt Directory</label>
              <div class="col-sm-10">
                <select  class="form-control" ng-model="provider.form.directoryAlt">
                  <option value="{{directory.name}}" ng-if="directory.type == 'd' &&  (directory.name != '.' && directory.name != '..')" ng-repeat="directory in provider.directories">{{ directory.name }}</option>
                </select>
              </div>  
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP Transfer Type</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option value="1">FTP_BINARY</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">FTP PASV</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option value="0">NO</option>
                  <option value="1">YES</option>

                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary" type="submit">Add New Provider</button>
          </div>
        </div>

      </div>
    </div>


  </form>
</div>