<div class="container" ng-init="schedule.getBothProviders()">
  <div class="row">
    <ul class="nav nav-pills">
      <li>
        <a href="#/outbound/dashboard">Dashboard</a>
      </li>
      <li >
        <a href="#/outbound/provider/feed/list">Provider</a>
      </li>
      <li class="active">
        <a href="#/outbound/provider/schedule/list">Schedule</a>
      </li>
    </ul>
  </div>
  <form ng-submit="schedule.scheduleOutboundJob()">
    <div class="">
      <h3>Schedule A Outbound Feed</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="">
              <label for="">Schedule Setting</label>
              <hr>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    <select required class="form-control" ng-model="schedule.form2.status">
                        <option value="">Select A Status</option>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Frequency</label>
                <div class="col-sm-10">
                    <select  class="form-control" ng-model="schedule.form2.frequency">
                        <option value="">Select an Interval</option>
                    
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Interval</label>
                <div class="col-sm-10">
                    <select required class="form-control" ng-model="schedule.form2.interval">
                        <option value="">Select an Interval</option>
                        <option value="24">Every 24 Hours</option>
                        <option value="12">Every 12 Hours</option>
                        <option value="6">Every 6 Hours</option>
                        <option value="100">Every 1 Minute</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-10">
                    <div class='input-group date' id='sDate'>
                        <input required ng-model="schedule.form2.startDate" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                   <input type="text" class="form-control" ng-model="schedule.form2.id">
                </div>
            </div>
            <div ng-if="schedule.state" class="form-group row">
                <div class="col-md-12">
                    <button class="btn btn-danger btn-block" type="button" ng-click="schedule.cancelOutboundJob(schedule.scheduleId)"> Deactivate This Schedule </button>
                </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="">

              <label for="">Provider Setting</label>
              <hr>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Outbound Provider</label>
                <div class="col-sm-10">
                    <select required class="form-control" ng-model="schedule.form2.OProvider">
                        <option value="">Select A Provider</option>
                        <option ng-if="provider.providerType == 2" value="{{ provider._id }}" ng-repeat="provider in schedule.providers">{{ provider.providerName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Inbound Provider</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="schedule.form2.IProvider">
                        <option value="">Select A Provider</option>
                        <option ng-if="provider.providerType == 1" value="{{ provider._id }}" ng-repeat="provider in schedule.providers">{{ provider.providerName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Aggregate ?</label>
                <div class="col-sm-10">
                    <select  class="form-control" ng-model="schedule.form2.aggregate">
                      <option value="0">NO</option>
                      <option value="1">YES</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">FTP Source</label>
                <div class="col-sm-10">
                    <select  class="form-control" ng-model="schedule.form2.ftpSource">
                        <option value="">Provider</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Provider Directory</label>
                <div class="col-sm-10">
                    <select  class="form-control" ng-model="schedule.form2.directory">
                        <option value="">Primary</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Vehicle Sorting</label>
                <div class="col-sm-10">
                    <select  class="form-control" ng-model="schedule.form2.vSorting">
                        <option value="">Dealership ID</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Field Quoting Mode</label>
                <div class="col-sm-10">
                    <select  class="form-control" ng-model="schedule.form2.FQMode">
                        <option value=""> PHP - Let PHP Handle it</option>
                    </select>
                </div>
            </div>
          </div>
        </div>
        <div ng-if="!schedule.state" class="row">
          <div class="col-md-3">
            <button class="btn btn-success" type="submit">Schedule Feed</button>
          </div>
        </div>

      </div>
    </div>


  </form>
</div>